#aktualnyczas {
  text-align: right;
  background-color: #4e342e;
  padding: 10px;
  border-radius: 5px;
  color: #ffe0b2;
}
.dwa-onas img{
  width: 480px;
  height: 480px;
  border: #4e342e 10px solid;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#datostat {
  text-align: left;
  background-color: #4e342e;
  padding: 10px;
  border-radius: 5px;
  color: #ffe0b2;
}
.section-onas{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.jeden-onas, .dwa-onas{
  width: 50%;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #4e342e;
  color: #ffe0b2;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  color: #ffe0b2;
  background-color: #4e342e;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  color: #ffffff;
  background-color: #6d4c41;
}

nav ul {
  list-style: none outside;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
  font-size: 25px;
}
div ul{
  list-style: none outside;
}
header {
  background-color: #4e342e;
  color: #ffe0b2;
  padding: 20px;
  text-align: center;
}

header h2 {
  margin: 0;
}

header nav ul {
  padding: 0;
  margin: 10px 0 0;
}

header nav ul li {
  display: inline;
}

form {
  background-color: #fff7e6;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  margin: 20px auto;
}

form p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bolder;
  color: #4e342e;
}

form input, form textarea, form button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
form input:hover,textarea:hover{
  background-color: #eaeaea;
  transition: background-color 0.3s ease;
}

form button {
  background-color: #4e342e;
  font-size: 20px;
  color: #ffe0b2;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #6d4c41;
}

#onas {
  background-color: #fff7e6;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}
#onas h1{
  color: #4e342e;
  font-size: 44px;
}
#onas h3 {
  color: #4e342e;
  font-size: 38px;
}

#onas p,#onas li {
  color: #3e2723;
  line-height: 1.6;
  margin-bottom: 10px;
  font-size: 26px;
}

#equipment {
  background-color: #fff7e6;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}

#equipment h3 {
  color: #4e342e;
  font-size: 38px;
  text-align: center;
}

#equipment p{
  color: #3e2723;
  line-height: 1.6;
  margin-bottom: 10px;
  font-size: 26px;
  margin: 5%;
}

#equipment h4{
  color: #4e342e;
  font-size: 30px;
  text-align: center;
}
/* kalendarz */
.calendar-container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calendar-header {
  text-align: center;
  margin-bottom: 20px;
}
.calendar-header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
.day {
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.day:hover {
  background-color: #d4d4d4;
}
.day-name {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}
.day-date {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.hours {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}
.details {
  display: none;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin-top: 20px;
}
.details h2 {
  margin-top: 0;
  color: #333;
}
.details p {
  color: #555;
}
#img-header{
  background-color: #fff7e6;
  
  border-radius: 3px;
}

.jeden-onas h4{
  margin-top: 20px;
}

#obraz{
  width: 480px;
  height: 480px;
  border: #4e342e 10px solid;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dwa-onas img{
  width: 62%;
  height: 82%;
  border: #4e342e 10px solid;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}






#buy {
  padding: 10px 20px;
  background-color: brown;
  width: 62%;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#buy:hover {
  background-color: darkred;
}
.jeden-onas p{
  margin: 100px;
}
#onas h1{
  text-align: center;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  justify-content: center;
  margin: 10px;
}

.gallery-item {
  flex: 1 1 calc(33.33% - 10px); 
  box-sizing: border-box;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border: 2px solid #4e342e;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.gallery-item img:hover {
  transform: scale(1.05);
}